.App {
  width: 100%;
  margin: 0 auto;
}

.App-header {
  align-items: center;
  color: #8a91a8;
  margin-top: 24px;
}

li {
  list-style: none;
  cursor: pointer;
}

.search-wrapper,
.search-input {
  background-color: #f3f4f7;
}

.search-wrapper {
  max-height: 1.5em;
  padding: 0.2em;
}

.search-input[placeholder] {
  margin-left: 5px;
}

.day-night {
  max-height: 2em;
}

button {
  background-color: #0078ff;
  color: #ffffff;
  padding: 0.7em;
  border: none;
  border-radius: 5%;
  cursor: pointer;
}

button:hover {
  background-color: #4c50ff;
}

button > img {
  margin-left: 10px;
  height: 12px;
  text-align: center;
}

.search-input {
  border: none;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav-item {
  flex: 0 1 100%;
}

.nav-item:active {
  background-color: #0078ff;
}

.main-content {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-top: 5em;
}

.main-content > img {
  margin: 0 auto;
  width: 100%;
}

.filter-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 1em;
  background-color: #f5f7fa;
  padding: 0 15px;
  border-radius: 12px;
  min-width: 250px;
  max-height: 662px;
}

.filter-reset {
  display: flex;
  justify-content: space-between;
}

.reset {
  color: #0069e0;
}

.reset-filter-content:hover {
  border-bottom: 2px solid #0069e0;
}

label {
  color: #8a91a8;
  padding-left: 10px;
}

.card-col {
  display: flex;
  gap: 10px;
  flex: 0 1 100%;
}

.card {
  padding: 5px;
}

.card-parent {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  background-color: #f5f7fa;
  border-radius: 12px;
  flex-wrap: wrap;
  padding: 5px;
}

.inner-card {
  display: flex;
  /*padding: 5px;*/
}

.card-body {
  justify-content: space-between;
  border: 2px solid #ebeff5;
  border-radius: 8px;
  height: 287px;
  width: 259px;
  background-color: #ffffff;
  padding: 15px 15px;
}

.card-title {
  margin-top: 1.2em;
  display: flex;
  gap: 15px;
}

.card-text {
  color: #8a91a8;
  font-size: 14px;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.button-div {
  background-color: #0078ff;
  border-radius: 5px;
  border: 1px solid #f5f7fa;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-link {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.load-more-btn {
  color: #8a91a8;
  background-color: #ffffff;
  margin: 30px auto;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding: 1.7em 1.5em;
}

.load-more-btn:hover {
  color: #8a91a8;
  background-color: #f5f7fa;
}

.testimonial {
  line-height: 24px;
  height: 70%;
}

.avatar-name-role {
  display: flex;
}

.role-name-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.role-name-wrapper > :nth-child(1) {
  font-weight: bold;
  margin-top: 0;
  color: #000000;
}
.role-name-wrapper > :nth-child(2) {
  margin-top: 0;
}

.testimonial-header {
  display: inline-flex;
  justify-content: center;
  font-size: 56px;
  font-weight: 700;
  flex-wrap: wrap;
}

.testimonial-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 25px;
}

.testimonial-card .card {
  height: 359px;
}

.latest-arrival {
  margin-top: 6em;
}

@media (max-width: 780px) {
  .App {
    text-align: center;
  }

  nav ul {
    flex-direction: column;
  }

  .nav-item {
    margin-top: 1em;
  }

  .search-wrapper {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .card-col {
    display: flex;
    flex-direction: column;
  }
}
