.App {
  margin: 20px auto;
  width: 100%;
}

.App-header {
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #8A91A8;
;
}


li {
  list-style: none;
}

.search-wrapper {
  background-color: #F3F4F7;
}

button {
  background-color: #0078FF;
  color: #ffffff;
  padding: .90em;
  border: none;
  border-radius: 5%;
}

button > img {
  margin-left: 10px;
  text-align: center;
}

.search-input {
  border: none;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav-item {
  flex: 0 1 100%;
}

.main-content {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-top: 5em;
}

.main-content > img {
  /*margin: 0  auto;*/
}
